{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dall_diamm/css/styleindex.css' %}">
    <title>Projet_reservation</title>

</head>
<body>
    <div>
        <img src="{% static 'dall_diamm/images/myback.jpg' %}" alt="" class="back">
    </div>
    <div class="entete">
        <div class="DD" style="font-size: x-large">Dall Diamm</div>
        <div class="meslien">
            <a href="" style="font-size: large">Acceuil &NonBreakingSpace;</a>
            <a href=""  style="font-size: large">Chambre &NonBreakingSpace;</a>
            <a href=""  style="font-size: large">Vehicules &NonBreakingSpace;</a>
            <a href=""  style="font-size: large">Restaurant &NonBreakingSpace;</a>
            <a href="{% url 'form_inscription' %}"  style="font-size:large">Inscription &NonBreakingSpace;</a>
            <a href=""  style="font-size:large">Connection &NonBreakingSpace;</a>
        </div>

    </div>
    <input type="search" placeholder="search" class="barre_recherche">
    <div class="be">
        <h2 class="fr">Bienvenue sur <br> Dall Diam</h2>
        <h2 class="wf">Eksil ak diam si <br> Dall Diam</h2><br>


    </div>
    <p class="text">Meilleur hotel au Sénégal </p>
    <p class="activity"> <em> Nos Activités</em></p>
    <div class="mesimg">
        <div class="c"><img src="{% static 'dall_diamm/images/chambre.jpg' %}" alt=""  class="chambre"><span class="RC">Reserver Chambre</span></div>
        <div><img src="{% static 'dall_diamm/images/restaurant.jpg' %}" alt="" class="restaurant"><span class="RR"> Restaurant</span></div>
        <div><img src="{% static 'dall_diamm/images/chambre.jpg' %}" alt=""  class="voiture"><span></span></div>
        <div><img src="{% static 'dall_diamm/images/chambre.jpg' %}" alt=""><span></span></div>
        <div><img src="{% static 'dall_diamm/images/restaurant.jpg' %}" alt=""><span></span></div>
        {% comment %}<div><img src="{% static 'dall_diamm/images/restaurant.jpg' %}" alt=""><span></span></div>
        <div><img src="{% static 'dall_diamm/images/chambre.jpg' %}" alt=""><span></span></div>{% endcomment %}
    </div>
    
    <p class="activity1"> <em> Vos Activités</em></p>
    <div class=" vosactivites">
        <div class="carte1">
            <img src="{% static 'dall_diamm/images/chambre.jpg' %}" alt="" width="60%">
            <p>Chambre 214 <br><br> Votre chambre <br><br>
            <button > Demander un service </button><br><br>
            <button >Ouvrir l'agenda </button></p>
        </div>
        <div class="carte2">
            <img src="{% static 'dall_diamm/images/car.jpg' %}" alt="" width="60%">
            <p>Range Rover Evoque <br><br> <strong>Livraison Prévue</strong>  <br><br>
            160 000 fcfa (XOF)<br><br>pour 1 semaine<br><br>
            <button >Ouvrir l'agenda </button></p>
        </div>
        <div class="carte3">
            <img src="{% static 'dall_diamm/images/chambre.jpg' %}" alt="" width="60%">
            <p>Chambre 214 <br><br> Votre chambre <br><br>
            <button > Demander un service </button><br><br>
            <button >Ouvrir l'agenda </button></p>
        </div>
    </div>

    <p class="ajoutactivite"> <em> Ajouter une  activité</em></p>
    <div class="ajout">
        <div class="poulet"><img src="{% static 'dall_diamm/images/poulet.jpg' %}" alt="" width="100%">
        <p>Commander un repas</p>
        </div>
        <div class="lv"><img src="{% static 'dall_diamm/images/louervoiture.jpg' %}" alt="" width="100%" height="200px">
            <p>Louer Une Voiture</p>
            </div>
        <div class="lc"><img src="{% static 'dall_diamm/images/louerchambre.jpg' %}" alt="" width="100%" height="200px">
            <p>Louer Une Chambre</p>
            </div>

        <div class="ap"><img src="{% static 'dall_diamm/images/parc.jpg' %}" alt="" width="100%" height="200px">
            <p>Aller au Parc</p>
         </div>

    </div>
    <div class="cp">
        <p>Payer par Orange Money,<br>Wave ou Paypal <br><br>
        nous assurons la securité et la confidentialité<br>de votre paiment </p>
        <img src="{% static 'dall_diamm/images/carte.jpg' %}" alt="" width="25%" height="100px" >
     </div>
    <p class="av"> <em> Avancé</em></p>

</body>

</html>