{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dall_diamm/css/stylechambre.css' %}">
    <title>Document</title>
</head>
<body>
    {% include 'dall_diamm/formreservation_chambre.html' %}
    {% comment %}
    <div class="all">
    
    
    <div class="info">
        <img src="{% static 'dall_diamm/images/chambre.jpg' %}" alt="" width="80%">
            <div class="description">
               
            </div>
            
    </div>
   
   
    
    </div>{% endcomment %}
  
    <div>
       
   </div>
  
    
    <div class="footer">
        <p>Dall <br> Diamm</p>
    </div>
</body>
</html>