body{
background-color: white;

}
form{
    width: 50%;
    background-color: white;
    margin-left: 30%;
    margin-top: 6%;
    border-radius: 10%;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.44);
    height: 670px;
    
}
label{
    margin: 6%;
    top: 1%;
    font-size: 20px;
    font-weight: bold;
  
}

input{
    width: 35%;
   margin: 3%;
}

button{
    margin-top: 7%;
    color: white;
    background-color: #808080;
    border-radius: 15%;
    width: 100%;
    height: 74px;
    
    margin-top: 5%;
}
.username {
    margin-left: 15%;
}
.prenom{
    margin-left: 12%;
}
.tel{
    margin-left: 5%;
}
.mail{
    margin-left: 13%;
}