body{
    margin: auto;
    width: auto;
    height: auto;
}
.back{
    width:100%;
    height: 800px;
    
    position: relative;
    filter: saturate(120%) brightness(80%);
}
.entete{
    width: 100%;
    position: absolute;
    top: 5px;
    display: flex;
    justify-content: space-between;
   
}
.DD{
    color: white;
}
.meslien{
    color: white;
    margin-right: 2%;
}
.meslien a{
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 1;
    
}


.barre_recherche{
    width: 20%;
    height: 50px;
    border-radius: 10px;
    left: 42%;
    position: absolute;
    top: 80px;
}
.be{
    width: 100%;
    position: absolute;
    top: 150px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.fr{
    margin-left: 10%;
}
.wf{
    margin-right: 10%;
}
.text{
    font-family: 'Courier New';
    position: absolute;
    top: 30%;
    float: center;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 50%;
}
.activity{
    position: absolute;
    top: 50%;
    color: white;
    margin-left: 5%;
}

.mesimg{
   width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 65%;
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
}
.mesimg img {
    display: inline-block; 
    vertical-align: middle; /* Pour aligner les images verticalement */
    max-width: 100%;/* Pour s'assurer que les images ne dépassent pas la largeur du conteneur */
    height: auto; /* Pour conserver le ratio de l'image */
    margin: 40px; /* Pour ajouter un espace entre les images */
    border-radius: 10%;
  }
.restaurant{
    margin-left: 10px;
}
.voiture{
    margin-left: 10px;
}
.RC {
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }

.RR{
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 37%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

}
.activity1{
    position: absolute;
    top: 100%;
    margin-left: 05%;
}

.carte1{
    width: 50%;
    border-radius: 10%;
    position: absolute;
    top: 150%;
}